.header {
  background-color: #f1f3ff;
  display: flex;
  justify-content: space-between;
  font-family: arial;
}

.header img {
  width: 704px;
  height: 407px;
}

.header h3 {
  width: 568px;
  height: 108px;
  padding-left: 136px;
  padding-top: 80px;
}

.header p {
  width: 668px;
  height: 60px;
  padding-left: 136px;
  padding-top: 48px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

#header-button {
  color: white;
  background-color: #5cb85f;
  border: none;
  margin-top: 10px;
  padding: 7px;
}

@media screen and (max-width: 576px) {
  .header {
    display: flex;
    flex-direction: column;
  }

  #mobilsmk {
    width: 374px;
    height: 230px;
  }

  #sewa {
    width: 308px;
    font-size: 36px;
    padding-left: 10px;
    padding-bottom: 80px;
    padding-top: 10px;
  }

  #para {
    width: 300px;
    padding-top: 100px;
    font-size: 14px;
    line-height: 20px;
    padding-left: 10px;
    padding-bottom: 130px;
  }

  #header-button {
    margin-top: 15px;
  }
}
